
@font-face {
  font-family: 'Avenir Black';
  src: url('../fonts/Avenir-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('../fonts/Avenir-Book.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Avenir Roman';
  src: url('../fonts/Avenir-Roman.ttf');
  font-weight: 500;
}


@font-face {
  font-family: 'Avenir Heavy';
  src: url('../fonts/Avenir-Heavy.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Light';
  src: url('../fonts/Avenir-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('../fonts/Avenir-Medium.ttf');
  font-weight: 400;
  font-style: italic;
}



@font-face {
  font-family: 'Avenirltstd Black';
  src: url('../fonts/Avenirltstd/AvenirLTStd-Black.otf');
  font-weight: 900;
}

@font-face {
  font-family: 'Avernirltstd Book';
  src: url('../fonts/Avenirltstd/AvenirLTStd-Book.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'Avenirltstd Roman';
  src: url('../fonts/Avenirltstd/AvenirLTStd-Roman.otf');
  font-weight: 500;
}


@font-face {
  font-family: 'Avenirltstd Heavy';
  src: url('../fonts/Avenirltstd/AvenirLTStd-Heavy.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenirltstd Light';
  src: url('../fonts/Avenirltstd/AvenirLTStd-Light.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avenirltstd Medium';
  src: url('../fonts/Avenirltstd/AvenirLTStd-Medium.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Akkurat-Bold';
  src: url('../fonts/Akkurat-Bold.ttf');
  font-weight: 400;
  font-style: italic;
}









