/* ==========================================================================
  Base Typography Styles
  ========================================================================== */

/* ==========================================================================
   Base Type
   ========================================================================== */
* {
  &::-moz-focus-inner {
    border: 0;
  }
  &:focus,
  &:active,
  &:hover {
    &::-moz-focus-inner {
      border: 0;
    }
    outline: 0;
  }
}

html {
  @include font-rem($htmlFontSize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  //@include font-rem($htmlFontSize);
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $baseTextColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  p {
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    font-family: $baseFontFamily;
    @include bp(mobile) {
      @include font-rem(16px, 19px);
    }
  }
}

body,
input,
select,
textarea {
  font-family: $baseFontFamily;
}

/* ==========================================================================
   Headings and paragraph
   ========================================================================== */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-style: normal;
  font-family: $baseHeadingFont;
  // @extend %baseSpacing;
}

h1,
.h1 {
  @include font-rem(32px, 37px);
}

h2,
.h2 {
  @include font-rem(24px, 27px);
}

h3,
.h3 {
  @include font-rem(18.72px, 22px);
}

h4,
.h4 {
  @include font-rem(13px, 18px);
}

h5,
.h5 {
  @include font-rem(12px, 16px);
}

h6,
.h6 {
  @include font-rem(11px, 12px);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
  word-wrap: break-word;
  word-break: break-word;
}

a {
  color: color(secondary, base);
  transition: 0.3s;
  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

img {
  max-width: 100%;
}
